<form>
  <input id="search" type="text" ng-model="string" ng-change="update(string)" />
</form>

<!-- Search Results -->
<div ng-model="results" class="results">
  <div class="result" ng-repeat="result in results">
    <a href="http://finn.opi.arizona.edu:20008/api/dvd/{{result._id}}">{{result.DVD_Title}}</a>
  </div>
</div>