doctype
html
  head
  body

    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular/angular-route.js')
    script(src='scripts/app.js')
    script(src='scripts/controllers/main.js')